# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# NestJS
.nest/

# Test coverage
coverage/
